/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.page.theme_light {
  --accent-color: #ff0070;
  --bg-title: #ff8dcb;
  --bg-page: #fff1f7;
  --text-color: #353430;
  --title-color: #ffc2e6;
  --subtitle-color: var(--text-color, #353430);
  --bg-image: url("../images/cover-image-light.png");
  --minor-color: var(--text-color, #353430);
  --outline-hover: #32312d66;
}

.theme_light .header__lightbulb {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff0070;
    --bg-title: #ff8dcb;
    --bg-page: #fff1f7;
    --text-color: #353430;
    --title-color: #ffc2e6;
    --subtitle-color: var(--text-color, #353430);
    --bg-image: url("../images/cover-image-light.png");
    --minor-color: var(--text-color, #353430);
    --outline-hover: #32312d66;
  }

  .header__lightbulb {
    display: none;
  }
}